/* src/pages/Error/Error.css */

.error,
.error * {
  box-sizing: border-box;
}
.error {
  background: var(--grey-light, #fbfbfd);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.error .body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 982px;
  position: relative;
  overflow-y: auto;
}
.error .error-page-title-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.error .error-page-title {
  color: #495057;
  text-align: center;
  font-family: var(--h-1-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--h-1-font-size, 32px);
  font-weight: var(--h-1-font-weight, 600);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error .error-page-picture-frame {
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.error .error-page-picture {
  flex-shrink: 0;
  width: 320px;
  height: 320px;
  position: relative;
}
.error .error-page-baseline-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.error .error-page-baseline {
  color: #495057;
  text-align: center;
  font-family: var(--h-3-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--h-3-font-size, 24px);
  font-weight: var(--h-3-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
